.articles{
    width: min(100%, 49rem);

    margin-inline: auto;

    padding-top: 18rem;
    padding-inline: 2rem;
    padding-bottom: 8rem;

    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.articles__container{
    display: grid;
    gap: 2.6rem;
}

.articles__image{
    width: 100%;

    border: .2rem dashed var(--title-color);
    border-radius: 1.2rem;
}

.articles__title{
    margin-bottom: 2rem;

    color: var(--title-color);
    
    text-align: center;
}

.articles__paragraph{
    color: var(--special-text-color);

    text-align: center;
    line-height: 1.5;
}

@media screen and (min-width: 1024px){
    .articles{
        width: min(100%, 130rem);
    
        padding-inline: 4rem;

        gap: 16rem;
    }

    .articles__container{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'text img';
        gap: 8rem;
    }

    .articles__container:nth-child(2) .articles__image{
        grid-area: img;
    }

    .articles__content{
        align-self: center;
    }
}
