.about{
    width: 80%;

    margin-inline: auto;
    margin-bottom: 4rem;
    margin-top: calc(11rem + 4rem);
    padding: 3rem;
    padding-inline: 3rem;

    border-radius: 12px;
    background-color: var(--special-bg-color);

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}