/* Cities */
.main__cities{
    width: 100%;

    padding-top: 13rem;
    padding-bottom: 1.6rem;

    position: relative;
}

.cities__buttons{
    width: 100%;
    height: 100px;

    display: flex;
    align-items: center;
    gap: 3.6rem;

    transition: transform .3s ease;

    overflow-x: auto;
    overflow-y: hidden;

    scroll-behavior: smooth;
}

.cities__buttons::-webkit-scrollbar{
    display: none;
}

.cities__button{
    border-bottom: .2rem solid transparent;
    color: var(--buttons-color);
    
    font-size: 1.6rem;
    font-weight: 700;

    min-width: fit-content;

    padding-bottom: .4rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cities__button:hover{
    border-color: var(--buttons-color);
}

.cities__button--active{
    border-bottom: .2rem solid var(--buttons-color);
}

#carouselF-prev, #carouselF-next{
    position: absolute;
    top: 63.5%;

    background-color: var(--buttons-color);
    color: var(--default-color);

    padding: 1.4rem;

    cursor: pointer;

    opacity: .4;

    transition: all .3s ease-in-out;
}

#carouselF-prev:hover, #carouselF-next:hover{
    opacity: 1;
}


#carouselF-prev{
    left: -9px;

    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#carouselF-prev:hover{
    left: 0;
}

#carouselF-next{
    right: -9px;

    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

#carouselF-next:hover{
    right: 0;
}

/* Attractions */
.main__attractions{
    width: 100%;

    padding-bottom: 4rem;
}

.attractions__list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 3.4rem;
}

.attractions__item{
    cursor: pointer;

    transition: transform .3s;
}

.attractions__item:hover{
    transform: scale(1.05);
}

.attractions__image{
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;

    width: 100%;
    height: 25rem;
}

.attractions__infos{
    background-color: var(--special-bg-color);
    border-bottom-left-radius: .8rem;
    border-bottom-right-radius: .8rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-inline: .8rem;

    height: 8rem;

    text-align: center;
}

.attractions__name{
    margin-bottom: .6rem;

    font-size: 1.6rem;
}

.attractions__city{
    font-size: 1.4rem;
}

#backToTopButton {
    position: fixed;
    bottom: 1.2rem;
    right: 1rem;
 
    opacity: 0;
    visibility: hidden;
 
    transform: translateY(100%);

    transition: all .3s ease-in-out;
}

#backToTopButton.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

#backToTopButton:hover{
    transform: scale(1.2);
    filter: saturate(1.8);
}
