/* Cities */
.main__cities{
    width: 100%;

    padding-block: 4rem;
}

.cities__buttons{
    display: flex;
    align-items: center;
    gap: 3.6rem;

    overflow: hidden;
}

.cities__button{
    border-bottom: .2rem solid transparent;
    color: var(--buttons-color);
    
    font-size: 1.6rem;
    font-weight: 700;

    min-width: fit-content;

    position: relative;

    padding-bottom: .4rem;
}

.cities__button:hover{
    border-color: var(--buttons-color);
}

.cities__button--active{
    border-bottom: .2rem solid var(--buttons-color);
}

/* Attractions */
.main__attractions{
    width: 100%;

    padding-block: 4rem;
}

.attractions__list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 3.4rem;
}

.attractions__item{
    cursor: pointer;

    transition: transform .3s;
}

.attractions__item:hover{
    transform: scale(1.05);
}

.attractions__image{
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;

    width: 100%;
    height: 25rem;
}

.attractions__infos{
    background-color: var(--special-bg-color);
    border-bottom-left-radius: .8rem;
    border-bottom-right-radius: .8rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-inline: .8rem;

    height: 8rem;

    text-align: center;
}

.attractions__name{
    margin-bottom: .6rem;

    font-size: 1.6rem;
}

.attractions__city{
    font-size: 1.4rem;
}
