@import url('index.css');
@import url('attractions.css');
@import url('attractionsDetails.css');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root{
    --special-bg-color: #0070A6;
    --title-color: #2c7dd4;
    --buttons-color: #145BA6;

    --scrollbar-color: #008dd3;
    --scrollbar-hover-color: #0071aa;
    --scrollbar-shadow-color: #31baff;

    --default-bg-color: #FFFFFF;
    --primary-text-color: #F2F2F2;

    --font: 'Montserrat', sans-serif;

    font-size: 62.5%;
}

html, body{
    background: var(--default-bg-color);
    color: var(--primary-text-color);

    width: 100%;
    height: auto;
    min-height: 100%;

    font-family: var(--font);
    font-size: 1.6rem;
    font-weight: 400;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    vertical-align: top;
}

button{
    cursor: pointer;

    background: none;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 700;
}

.logo{
    width: 8rem;
}

.image{
    width: 100%;
    height: 30rem;
}

.link-active{
    border-bottom: .2rem solid var(--default-bg-color);
}

.header{
    background-color: var(--special-bg-color);

    /* position: fixed;
    z-index: 100; */

    width: 100%;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-block: 1.5rem;
    padding-inline: 2rem;

    width: 100%;
}

.header__btn-search img{
    width: 4rem;
}

.header__menu img{
    width: 4rem;
}

.header__navbar, .header__input-search{
    display: none;
}

.footer{
    background-color: var(--special-bg-color);
    
    width: 100%;
}

.footer__container{
    width: 100%;

    padding-block: 2.4rem;
    padding-inline: 2rem;
}

.footer__social{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.social__list{
    display: flex;
    justify-content: center;
    gap: 1.6rem;
}

.footer__copy{
    margin-top: 3rem;

    text-align: center;
}

@media screen and (min-width: 768px) {
    .container{
        width: min(120rem, 100%);
    }
}

@media screen and (min-width: 1024px) {
    .header__btn-search, .header__menu{
        display: none;
    }

    .header__input-search{
        display: block;
        
        background: url('../img/search.svg') no-repeat 1rem / 8%;
        border: .2rem solid var(--primary-text-color);
        border-radius: 1.6rem;
        color: var(--primary-text-color);

        font-size: 1.6rem;
        
        padding-block: 1.4rem;
        padding-inline: 1rem;

        width: 30%;
        max-width: 36rem;
    }

    .header__input-search:focus{
        background: none;

        outline: none;
        border: .3rem solid var(--primary-text-color);
    }

    .header__input-search::placeholder{
        color: var(--primary-text-color);
        opacity: .5;

        text-align: center;
    }

    .header__navbar{
        display: block;
    }

    .navbar__list{
        display: flex;
        gap: 2.4rem;
    }

    .navbar__link{
        color: var(--primary-text-color);

        text-transform: uppercase;
        font-size: 1.8rem;
    }

    .footer__social{
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1400px) {
    .container{
        width: min(150rem, 100%);
    }
}

@media screen and (min-width: 1750px) {
    .container{
        width: min(180rem, 100%);
    }
}
