@import url('index.css');
@import url('attractions.css');
@import url('attractionsDetails.css');
@import url('about.css');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root{
    --special-bg-color: #0070A6;
    --title-color: #2c7dd4;
    --buttons-color: #145BA6;

    --scrollbar-color: #00B4D8;
    --scrollbar-hover-color: #0071aa;
    --scrollbar-shadow-color: #31baff;

    --default-bg-color: #FFFFFF;
    --primary-text-color: #F2F2F2;
    --special-text-color: #005885;

    --font: 'Montserrat', sans-serif;

    font-size: 62.5%;
}

html, body{
    background: var(--default-bg-color);
    color: var(--primary-text-color);

    width: 100%;
    height: auto;
    min-height: 100vh;

    font-family: var(--font);
    font-size: 1.6rem;
    font-weight: 400;
}

body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

p{
    line-height: 1.5;
}

ul{
    list-style: none;
}

img{
    vertical-align: top;
}

button{
    cursor: pointer;

    background: none;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 700;
}

.container{
    padding-inline: 3rem;

    width: min(46rem, 100%);

    margin-inline: auto;
}

.logo{
    width: 8rem;
}

.image{
    width: 100%;
    height: 30rem;
}

.link-active{
    border-bottom: .2rem solid var(--default-bg-color);
}

.header{
    background-color: var(--special-bg-color);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 100%;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-block: 1.5rem;
    padding-inline: 2rem;

    width: 100%;
}

.header__menu img{
    width: 4rem;
}

.header__navbar{
    display: none;
}

.navbar__list{
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
}

.navbar__link{
    color: var(--primary-text-color);

    text-transform: uppercase;
    font-size: 1.8rem;
}

.navbar__link:hover{
    border-bottom: .2rem solid var(--default-bg-color);
}

.menu{
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    transform: translateX(100%);

    background-color: var(--special-bg-color);

    transition: transform .3s ease-in-out;
}

.menu-open{
    transform: translateX(0%);
}

.menu__container{
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    height: 60%;
}

.menu__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__body{
    text-align: center;
}

.footer{
    background-color: var(--special-bg-color);
    
    width: 100%;
}

.footer__container{
    width: 100%;

    padding-block: 2.4rem;
    padding-inline: 2rem;
}

.footer__social{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.social__list{
    display: flex;
    justify-content: center;
    gap: 1.6rem;
}

.footer__copy{
    margin-top: 3rem;

    text-align: center;
}

@media screen and (min-width: 768px) {
    .container{
        width: min(98rem, 100%);
    }

    .header__menu, .menu{
        display: none;
    }

    .header__navbar{
        display: block;
    }

    .navbar__list{
        flex-direction: row;
        gap: 2.4rem;
    }
    

    .footer__social{
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1100px) {
    .container{
        width: min(128rem, 100%);
        
        padding-inline: 6rem;
    }
}

@media screen and (min-width: 1350px) {
    .container{
        width: min(150rem, 100%);
    }
}

@media screen and (min-width: 1400px) {
    .container{
        width: min(150rem, 100%);
    }
}

/* @media screen and (min-width: 1750px) {
    .container{
        width: min(180rem, 100%);
    }
}

@media screen and (min-width: 1800px) {
    .container{
        width: min(190rem, 100%);
    }
} */
