.main__banner-title{
    padding-block: 5.8rem;
    
    color: var(--title-color);
    
    text-align: center;
    font-size: 3.2rem;
}

.banner__container{
    width: 100%;
}

.card{
    margin: 3rem;
    margin-block: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
    letter-spacing: .1rem;
}

.card__title{
    color: var(--buttons-color);
    text-align: center;
}

.card__img{
    width: 60%;
    border-radius: 12px;
}

.card__link{
    color: white;
    background-color: var(--buttons-color);
    border-radius: 12px;
    padding: 2rem;
    padding-inline: 10rem;
}

.card__link:hover{
    background-color: var(--scrollbar-color);
    transition: all .2s ease-in-out;
    transform: scale(1.05);
}