<div class="about">
    <div class="card-1">
        <img class="card-1__img" src="~/img/quemsomos.jfif">

        <div class="card-1__content">
            <h1 class="card-1__title">Quem somos nós?</h1>
            <p class="card-1__paragraph">Lorem ipsum dolor sit amet. Et fuga similique sed cumque odio ut quos tenetur ex provident rerum quo libero dolor et necessitatibus facere. Vel voluptate distinctio quo possimus vitae in dolorem tempore vel officiis officiis et pariatur consequatur eos nobis similique! Eum suscipit deleniti nam autem magnam qui natus placeat sed porro quia ut esse similique At sapiente itaque ea voluptatem voluptates!Est quae pariatur vel impedit incidunt ut voluptas minus non molestiae numquam est internos soluta. Et dignissimos rerum non praesentium placeat et neque voluptas aut laborum nihil aut quam numquam.Aut mollitia dolorem eum voluptas eaque aut alias veritatis aut esse galisum est voluptate aliquid sit consectetur voluptas. Sit dignissimos asperiores hic beatae amet qui quam quia aut dicta iste ea consectetur fuga et sapiente cupiditate? Id itaque earum sit repudiandae incidunt et voluptatum doloribus eum eius voluptatem aut tempora delectus?</p>
        </div>
    </div>

    <div class="card-2">
        <div class="card-2__content">
            <h1 class="card-2__title">Nossa Equipe</h2>
            <p>Lorem ipsum dolor sit amet. Et fuga similique sed cumque odio ut quos tenetur ex provident rerum quo libero dolor et necessitatibus facere. Vel voluptate distinctio quo possimus vitae in dolorem tempore vel officiis officiis et pariatur consequatur eos nobis similique! Eum suscipit deleniti nam autem magnam qui natus placeat sed porro quia ut esse similique At sapiente itaque ea voluptatem voluptates!Est quae pariatur vel impedit incidunt ut voluptas minus non molestiae numquam est internos soluta. Et dignissimos rerum non praesentium placeat et neque voluptas aut laborum nihil aut quam numquam.Aut mollitia dolorem eum voluptas eaque aut alias veritatis aut esse galisum est voluptate aliquid sit consectetur voluptas. Sit dignissimos asperiores hic beatae amet qui quam quia aut dicta iste ea consectetur fuga et sapiente cupiditate? Id itaque earum sit repudiandae incidunt et voluptatum doloribus eum eius voluptatem aut tempora delectus?</p>
        </div>

        <img class="card-2__img" src="~/img/equipe.jfif">
    </div>

    <div class="card-3">
        <img class="card-3__img" src="~/img/contatar.jpeg">

        <div class="card-3__content">
            <h1 class="card-3__title">Onde nos encontrar?</h1>
            <p class="card-3__paragraph">Lorem ipsum dolor sit amet. Et fuga similique sed cumque odio ut quos tenetur ex provident rerum quo libero dolor et necessitatibus facere. Vel voluptate distinctio quo possimus vitae in dolorem tempore vel officiis officiis et pariatur consequatur eos nobis similique! Eum suscipit deleniti nam autem magnam qui natus placeat sed porro quia ut esse similique At sapiente itaque ea voluptatem voluptates!Est quae pariatur vel impedit incidunt ut voluptas minus non molestiae numquam est internos soluta. Et dignissimos rerum non praesentium placeat et neque voluptas aut laborum nihil aut quam numquam.Aut mollitia dolorem eum voluptas eaque aut alias veritatis aut esse galisum est voluptate aliquid sit consectetur voluptas. Sit dignissimos asperiores hic beatae amet qui quam quia aut dicta iste ea consectetur fuga et sapiente cupiditate? Id itaque earum sit repudiandae incidunt et voluptatum doloribus eum eius voluptatem aut tempora delectus?</p>

            <a class="card-3__link">Saber mais</a>
        </div>
    </div>
</div>
