    <div class="about">
        <h1>Quem somos nós?</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem amet repudiandae deleniti dolor, minus incidunt id quos unde vel fugiat, cum odit fugit consequuntur cumque maxime voluptatibus molestias laboriosam dolorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ut maxime odit architecto eum enim est nemo natus, laboriosam magni officiis eveniet cum quasi amet. Incidunt nihil iste earum eum!</p>
        
        <h2>Onde você pode nos encontrar?</h2>

        <p>Nos procure em nossas redes sociais, como o instagram, facebook e whatsapp. Estaremos ansiosos lhe aguardando!</p>

        <h2>Nossa empresa</h2>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, at rerum eaque voluptate maxime dolore voluptas sunt architecto, quis amet recusandae incidunt fuga! Sint sed molestias fugiat perferendis esse unde?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, magnam laboriosam maiores soluta ipsa animi accusamus sunt quisquam quibusdam libero aspernatur recusandae nihil pariatur explicabo. Repudiandae suscipit illo esse omnis?
        </p>

        <h2>Política de Privacidade</h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sed quod, ullam repellat dolore veniam laborum iste voluptate? Quae dolor atque sit eum ullam suscipit hic veritatis voluptatibus cupiditate animi!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, velit mollitia, incidunt quisquam rem quia aliquid maxime inventore alias laborum blanditiis soluta aut consequatur unde cupiditate recusandae ullam fugiat maiores?
        </p>
    </div>
