<div class="cards">
    <div class="card-1">
        <img class="card-1__img" src="/img/quemsomos.jfif" alt="Quem somos">
        <div class="card-1__content">
            <h1 class="card-1__title">Quem somos?</h1>
            <p class="card-1__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus autem sequi cupiditate optio, et molestiae voluptatum, voluptate quos quae aliquam illo neque ab enim impedit dolores deserunt maxime, quibusdam culpa.</p>
        </div>
    </div>

    <div class="card-2">
        <img class="card-2__img" src="/img/equipe.jfif" alt="Nossa equipe">
            <div class="card-2__content">
                <h1 class="card-2__title">Nossa equipe</h1>
                <p class="card-2__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus autem sequi cupiditate optio, et molestiae voluptatum, voluptate quos quae aliquam illo neque ab enim impedit dolores deserunt maxime, quibusdam culpa.</p>
            </div>
    </div>

    <div class="card-3">
        <img class="card-3__img" src="/img/contatar.jpeg" alt="Contatos">
            <div class="card-3__content">
                <h1 class="card-3__title">Nossos contatos</h1>
                <p class="card-3__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus autem sequi cupiditate optio, et molestiae voluptatum, voluptate quos quae aliquam illo neque ab enim impedit dolores deserunt maxime, quibusdam culpa.</p>
            </div>
    </div>
</div>
