@model AttractionDto;
@inject MyDestiny.Services.IDestinyService service;

@{
    ViewData["Title"] = "My Destiny";
}

@foreach(var attraction in Model.Attractions)
{
    <h2>
        @attraction.Name
    </h2>
}
