@inject MyDestiny.Services.IDestinyService service;

@{
    ViewData["Title"] = "Home";
}

<section class="main__banner">
    <h1 class="main__banner-title">Venha conhecer as maravilhas da nossa região!</h1>
    <img class="banner__container" src="~/img/banner.jpg">
</section>

<section class="card">
    <div class="container">
        <h2 class="card__title">Explore os mais diversos lugares da região</h2>
        <div class="card__slider">
            <div class="slider__container">
                <img class="slider__images" src="~/img/cities/aparecida.jpg" alt="Aparecida">
                <img class="slider__images" src="~/img/cities/barra-bonita.jpg" alt="Barra Bonita">
                <img class="slider__images" src="~/img/cities/bauru.jpg" alt="Bauru">
                <img class="slider__images" src="~/img/cities/bocaina.jpg" alt="Bocaina">
                <img class="slider__images" src="~/img/cities/cabralia-paulista.jpg" alt="Cabrália Paulista">
                <img class="slider__images" src="~/img/cities/dois-corregos.jpg" alt="Dois Côrregos">
                <img class="slider__images" src="~/img/cities/macatuba.jpg" alt="Macatuba">
            </div>

            <button id="btn-prev" class="slider__btn">
                ◀
            </button>

            <button id="btn-next" class="slider__btn">
                ▶
            </button>
        </div>
        <a class="card__link" asp-action="Attractions">Explorar</a>
    </div>
</section>

<script src="~/js/carousel.js"></script>
