@inject MyDestiny.Services.IDestinyService service;

@{
    ViewData["Title"] = "Home";
}

<main>
    <h1>Venha conhecer as maravilhas da nossa região!</h1>
    <img class="banner__container" src="img/banner/banner.jpg">


        <h1 class="apresentation">Explore os mais diversos lugares!</h1>

    <div class="place__content">
        <img class="attraction__image" src="img/attractions/shopping-territorio-do-calcado.jpg">
        <h3 class="h3">Shoppig território do calçado</h3>

        <h2 class="naosei">Conheça outros lugares marcantes da nossa região</h2>
        <button class="explore__button">Explore</button>
    </div>
</main>
