@inject MyDestiny.Services.IDestinyService service;

    @{
        ViewData["Title"] = "Home";
    }

    <section class="main__banner">
        <h1 class="main__banner-title">Venha conhecer as maravilhas da nossa região!</h1>
        <img class="banner__container" src="~/img/banner.png">
    </section>

    <div class="card">
        <h1 class="card__title">Venha explorar os mais variados lugares da região</h1>
        <img class="card__img" src="~/img/cities/barra-bonita.jpg" alt="carrosel de imagens">
        <a class="card__link" href="#">Explorar</a>
    </div>
