@model AttractionDto;
@inject MyDestiny.Services.IDestinyService service;

@{
    ViewData["Title"] = "Home";
}

<section class="main__banner">
    <h1 class="main__banner-title">Venha conhecer as maravilhas da nossa região!</h1>
    <img class="banner__container" src="~/img/banner.jpg">
</section>

<section class="card">
    <div class="container">
        <h2 class="card__title">Explore os mais diversos lugares da região</h2>
        <div class="card__content">
            <img class="card__img" src="~/img/cities/barra-bonita.jpg" alt="carrosel de imagens">
        </div>
        <a class="card__link" asp-action="Attractions">Explorar</a>
    </div>
</section>
